<h1 class="text-center">Welcome to Papramaki!</h1>
<h4 class="text-center">The best spending tracker app in the galaxy!</h4>
<hr>
<h4 class="text-center">Check back soon for updates on our Android app.</h4>
